.console {
    width: 100%;
}

.console>label {
    display: inline;
    width: 116px;
}

code.first {
    color: #43b737;
    font-weight: 700;
    text-indent: 0;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
}

div.console {
    width: 100%;
    position: relative;
}

div.console>input {
    background: #000;
    color: #fff;
    position: relative;
    padding: 5px;
    border: none;
    display: inline;
    width: 80%;
}

div.console>input:focus {
    outline: none;
}

p.result {
    font-size: 13.3333px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p.result a {
    color: #fff;
    text-decoration: none;
}

p.result a:hover {
    text-decoration: underline;
}

span.tilde {
    color: #033baa;
}

span.dollar {
    color: #fff;
    font-weight: 400;
}